.Card {    
    width: 80%;
    margin: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly
  }

    /* Para tablets (máx. 1024px) -> 2 columnas */
  @media (max-width: 768px) {
    .Card {    
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
  
  .Imagen {
    width: 200px;
    height: 200px;
    object-fit: contain;
    /* margin-right: 10px; */
  }
  
  .Contador {
    width: 100px;
  }

  .Body{
    width: 200px;
    height: 100px;
  }
  
  .Card li{
    display: flex;
    align-items: center;
  }
  
  .Titulo {
    font-size: 16px;
    font-weight: bold;
  }
  
  .Stock, .Cantidad, .Precio {
    font-size: 14px;
    margin: 5px 0;
  }
  