.Card {    
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .Imagen {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 10px;
  }
  
  .Contador {
    width: 100px;
  }
  
  .Card li{
    display: flex;
    align-items: center;
  }
  
  .Titulo {
    font-size: 16px;
    font-weight: bold;
  }
  
  .Stock, .Cantidad, .Precio {
    font-size: 14px;
    margin: 5px 0;
  }
  