.Card {
  width: 70%;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra más fuerte */
  border-radius: 10px; /* Bordes redondeados */
}

/* Para tablets (máx. 1024px) -> 2 columnas */
@media (max-width: 768px) {
  .Card {    
    display: flex;
    flex-direction: column; 
    padding: 0px;   
  }
}

.Imagen {
  margin-top: 10px;
  width: 100%;
  height: 300px;
  object-fit: contain;  
}

.Contador {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Precio {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.Categoria,
.Marca,
.Descripcion {
  margin-top: 10px;
  color: #555;
}

.Descripcion {
  font-style: italic;
}