.Datos {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.Spin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.Order {
    margin-top: 20px;
}