.Home {
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}
  
.Titulo {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}
  
.Carousel {    
    margin: 0 auto;
    justify-content: center;
    height: 100%;
    text-align: center;
}  

.CarouselContainer {
    margin-top: 20px;
}
  
.Imagen {
    height: 160px;
    margin: 0 auto;
    margin-bottom: 10px;
}
  
.Categoria {
    font-size: 18px;
    color: #333;
}
  
.Descripcion {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
} 

.Home ul li {
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(189, 161, 0);
}