/* Estilos para el contenedor principal del navbar
.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color:rgb(39, 36, 28);
    color: #fff;
    padding: 10px 20px;
  }

  .Logo{
    display: flex;
    padding: 0;    
  }

  .Personal{
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .Personal div{
    margin: 0 2px 0 2px;
  }

  .secciones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }

  .secciones button{
    margin: 5px;
  } */
  
.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8b7070;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.Logo {
    display: flex;
    align-items: center;
}

.Logo img {
    margin-right: 10px;
    border-radius: 50px;
}

.secciones {
    display: flex;
    gap: 10px;
}

.secciones a {
    text-decoration: none;
    color: #333;
}

.Personal {
    display: flex;
    gap: 10px;
}

