.GridContainer {    
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas por defecto */
}

/* Para tablets (máx. 1024px) -> 2 columnas */
@media (max-width: 768px) {
    .GridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Para celulares (máx. 600px) -> 1 columna */
  @media (max-width: 600px) {
    .GridContainer {
        grid-template-columns: repeat(1, 1fr);
    }
  }